* html .u3_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Publicar_produ_ao_files/u3_line.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Publicar_produ_ao_files/u4_normal.png");
}

