body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:64px;
    top:273px;
    width:674px;
    height:353px
}

.u1_normal {
    background-image: url('u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:61px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:67px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('u3_normal.png');
}

.u3_container {
    position:absolute;
    left:219px;
    top:0px;
    width:83px;
    height:61px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:67px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('u5_normal.png');
}

.u5_container {
    position:absolute;
    left:302px;
    top:0px;
    width:149px;
    height:61px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:67px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('u7_normal.png');
}

.u7_container {
    position:absolute;
    left:451px;
    top:0px;
    width:95px;
    height:61px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:67px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('u9_normal.png');
}

.u9_container {
    position:absolute;
    left:546px;
    top:0px;
    width:123px;
    height:61px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:67px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:61px;
    width:219px;
    height:36px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:42px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('u13_normal.png');
}

.u13_container {
    position:absolute;
    left:219px;
    top:61px;
    width:83px;
    height:36px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('u15_normal.png');
}

.u15_container {
    position:absolute;
    left:302px;
    top:61px;
    width:149px;
    height:36px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:42px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('u17_normal.png');
}

.u17_container {
    position:absolute;
    left:451px;
    top:61px;
    width:95px;
    height:36px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:42px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('u19_normal.png');
}

.u19_container {
    position:absolute;
    left:546px;
    top:61px;
    width:123px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:97px;
    width:219px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:42px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('u25_normal.png');
}

.u25_container {
    position:absolute;
    left:219px;
    top:97px;
    width:83px;
    height:36px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('u27_normal.png');
}

.u27_container {
    position:absolute;
    left:302px;
    top:97px;
    width:149px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:42px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('u29_normal.png');
}

.u29_container {
    position:absolute;
    left:451px;
    top:97px;
    width:95px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('u19_normal.png');
}

.u31_container {
    position:absolute;
    left:546px;
    top:97px;
    width:123px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('u11_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:133px;
    width:219px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('u13_normal.png');
}

.u37_container {
    position:absolute;
    left:219px;
    top:133px;
    width:83px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('u15_normal.png');
}

.u39_container {
    position:absolute;
    left:302px;
    top:133px;
    width:149px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('u17_normal.png');
}

.u41_container {
    position:absolute;
    left:451px;
    top:133px;
    width:95px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('u19_normal.png');
}

.u43_container {
    position:absolute;
    left:546px;
    top:133px;
    width:123px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:169px;
    width:219px;
    height:29px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:35px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('u49_normal.png');
}

.u49_container {
    position:absolute;
    left:219px;
    top:169px;
    width:83px;
    height:29px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:35px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('u51_normal.png');
}

.u51_container {
    position:absolute;
    left:302px;
    top:169px;
    width:149px;
    height:29px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:35px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('u53_normal.png');
}

.u53_container {
    position:absolute;
    left:451px;
    top:169px;
    width:95px;
    height:29px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:35px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('u55_normal.png');
}

.u55_container {
    position:absolute;
    left:546px;
    top:169px;
    width:123px;
    height:29px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:35px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:198px;
    width:219px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('u59_normal.png');
}

.u59_container {
    position:absolute;
    left:219px;
    top:198px;
    width:83px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('u61_normal.png');
}

.u61_container {
    position:absolute;
    left:302px;
    top:198px;
    width:149px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('u63_normal.png');
}

.u63_container {
    position:absolute;
    left:451px;
    top:198px;
    width:95px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('u65_normal.png');
}

.u65_container {
    position:absolute;
    left:546px;
    top:198px;
    width:123px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:228px;
    width:219px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('u69_normal.png');
}

.u69_container {
    position:absolute;
    left:219px;
    top:228px;
    width:83px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('u71_normal.png');
}

.u71_container {
    position:absolute;
    left:302px;
    top:228px;
    width:149px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('u73_normal.png');
}

.u73_container {
    position:absolute;
    left:451px;
    top:228px;
    width:95px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('u75_normal.png');
}

.u75_container {
    position:absolute;
    left:546px;
    top:228px;
    width:123px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('u67_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:258px;
    width:219px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('u69_normal.png');
}

.u79_container {
    position:absolute;
    left:219px;
    top:258px;
    width:83px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('u71_normal.png');
}

.u81_container {
    position:absolute;
    left:302px;
    top:258px;
    width:149px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('u73_normal.png');
}

.u83_container {
    position:absolute;
    left:451px;
    top:258px;
    width:95px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('u75_normal.png');
}

.u85_container {
    position:absolute;
    left:546px;
    top:258px;
    width:123px;
    height:30px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:36px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('u67_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:288px;
    width:219px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('u69_normal.png');
}

.u89_container {
    position:absolute;
    left:219px;
    top:288px;
    width:83px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('u71_normal.png');
}

.u91_container {
    position:absolute;
    left:302px;
    top:288px;
    width:149px;
    height:30px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:36px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('u73_normal.png');
}

.u93_container {
    position:absolute;
    left:451px;
    top:288px;
    width:95px;
    height:30px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:36px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('u75_normal.png');
}

.u95_container {
    position:absolute;
    left:546px;
    top:288px;
    width:123px;
    height:30px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('u67_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:318px;
    width:219px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:36px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('u69_normal.png');
}

.u99_container {
    position:absolute;
    left:219px;
    top:318px;
    width:83px;
    height:30px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:36px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:79px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('u71_normal.png');
}

.u101_container {
    position:absolute;
    left:302px;
    top:318px;
    width:149px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:155px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('u73_normal.png');
}

.u103_container {
    position:absolute;
    left:451px;
    top:318px;
    width:95px;
    height:30px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('u75_normal.png');
}

.u105_container {
    position:absolute;
    left:546px;
    top:318px;
    width:123px;
    height:30px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:36px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:64px;
    top:206px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:64px;
    top:176px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109 {
    position:absolute;
    left:64px;
    top:241px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u110_normal {
    background-image: url('u110_normal.png');
}

.u110_container {
    position:absolute;
    left:673px;
    top:243px;
    width:60px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:26px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('u112_normal.png');
}

.u112_container {
    position:absolute;
    left:713px;
    top:248px;
    width:10px;
    height:10px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('u114_normal.png');
}

.u114_container {
    position:absolute;
    left:683px;
    top:248px;
    width:10px;
    height:10px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u115 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_line {
    background-image: url('u116_line.png');
}

.u116_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:20px;
}

.u116 {
    position:absolute;
    left:698px;
    top:243px;
    width:10px;
    height:20px;
    
}

.u117_normal {
    background-image: url('u117_normal.png');
}

.u117_container {
    position:absolute;
    left:301px;
    top:643px;
    width:20px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('u119_normal.png');
}

.u119_container {
    position:absolute;
    left:326px;
    top:643px;
    width:20px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('u119_normal.png');
}

.u121_container {
    position:absolute;
    left:351px;
    top:643px;
    width:20px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('u119_normal.png');
}

.u123_container {
    position:absolute;
    left:376px;
    top:643px;
    width:20px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:3px;
    width:16px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u125_container {
    position:absolute;
    left:65px;
    top:106px;
    width:180px;
    height:26px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:32px;
}

.u126 {
    position:absolute;
    left:2px;
    top:5px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:70px;
    top:112px;
    width:163px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_line {
    background-image: url('u128_line.png');
}

.u128_line {
    position:absolute;
    left:0px;
    top:4px;
    width:177px;
    height:3px;
}

.u128 {
    position:absolute;
    left:68px;
    top:124px;
    width:177px;
    height:10px;
    
}

.u129_normal {
    background-image: url('u129_normal.png');
}

.u129_container {
    position:absolute;
    left:64px;
    top:144px;
    width:180px;
    height:22px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:28px;
}

.u130 {
    position:absolute;
    left:2px;
    top:3px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:84px;
    top:146px;
    width:142px;
    height:18px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u132_normal {
    background-image: url('u132_normal.png');
}

.u132_container {
    position:absolute;
    left:226px;
    top:148px;
    width:15px;
    height:15px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
}

.u133 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('u134_normal.png');
}

.u134_container {
    position:absolute;
    left:68px;
    top:148px;
    width:16px;
    height:14px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:14px;
}

.u135 {
    position:absolute;
    left:2px;
    top:-1px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_line {
    background-image: url('u136_line.png');
}

.u136_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u136 {
    position:absolute;
    left:286px;
    top:305px;
    width:960px;
    height:10px;
    
}

.u137_normal {
    background-image: url('u137_normal.png');
}

.u137_container {
    position:absolute;
    left:64px;
    top:9px;
    width:669px;
    height:42px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:675px;
    height:48px;
}

.u138 {
    position:absolute;
    left:2px;
    top:8px;
    width:665px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:251px;
    top:138px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

